<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Full Stack Task 1</h2>
    <ol>
      <li>Create a specific route to read API</li>
      <li>Use middleware to handle consuming API service.</li>
      <li>Show the results in the front end</li>
      <li>Store data in the DB</li>
    </ol>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>