<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Valoro</h2>
    <ul>
      <li>Online blockchain platform that allow
        business users with absolutely NO coding skills
        to create their own blockchain</li>
      <li>(Industry) Information Technology & Services</li>
      <li>(Company size) 11-50 employees</li>
      </ul>
    </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>